/** Reset CSS */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    a{
        text-decoration: none;
    }
}

h1 {
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 20px black;
    text-align: center;
    padding: 1rem;
}
h2 {
    margin-top: 50px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 20px black;
    text-align: center;
    padding: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.uno {
    display: block;
    margin: auto;
    width: 22rem;
    height: 32rem;
    border-radius: 20px;
}

.interior-1 {
    width: 100%;
    height: 100%;
    border: black 2px solid;
    border-radius: 20px;
    background-color: black;
}

.interior {
    width: 100%;
    height: 100%;
    border: black 2px solid;
    border-radius: 20px;
    background-color: #02b9bc;

    /*boton de volver al menu principal*/
    .inmenu {
        display: block;
        margin: auto;
        width: 110px;
        height: 50px;
        cursor: pointer;
        color: white;
        border-radius: 10px;
        border:none;
        background-color: #02b9bc;
    }
    
    .inmenu:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
    } 
    
}

.interior-1 img {
    display: block;
    margin: auto;
    width: 15rem;
    height: 10rem;
    border: black solid 2px;
}

button {
    display: block;
    margin: auto;
    width: 180px;
    height: 30px;
    border: 2px solid white;
    cursor: pointer;
    color: black;
    background-color: lightgray;
    border-radius: 10px;
}

button:hover {
    opacity: 0.3;
    border: solid 2px black;
    height: 50px;
}










